<div class="add-task-container">
    <h3 class="pl-2">Add Task</h3>
    <form class="form-control" [formGroup]="taskForm" (ngSubmit)="onTaskFormSubmit()" #formDir="ngForm">
      <div class="row">
        <div class="col-6">
          <!-- Task Type Field block -->
          <div class="form-group">
            <label for="inputPassword" class="col-form-label">Task Type:</label>
            <select class="form-control mr-2"
                    formControlName="taskType">
              <option value="0">Please Select</option>
              <option value="1">Reminder</option>
              <option value="2">Approval</option>
              <option value="3">Need Information</option>
              <option value="4">Take Action</option>
            </select>
            <!-- error block -->
            <div *ngIf="(taskForm.controls.taskType.invalid && taskForm.controls.taskType.touched) || (taskForm.hasError('required', 'taskType') && formDir.submitted)">
              <span class="text-danger align-middle">
                <i class="fa fa-warning"></i> Please select Task Type
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-form-label">Reference Type:</label>
            <select class="form-control mr-2"
                    formControlName="referenceType">
              <option value="0">Please Select</option>
              <option value="1">PO</option>
              <option value="2">Order</option>
              <option value="3">Item</option>
              <option value="4">Factory</option>
              <option value="5">RBO</option>
            </select>
          </div>

          <div class="form-group ">
            <label for="inputPassword" class="col-form-label">Reference Number:</label>
            <input type = "text"
                    class="form-control"
                    placeholder = "Please enter Reference Number"
                    formControlName="referenceNumber" />
            <!-- error block -->
            <div *ngIf="taskForm.controls.referenceNumber.invalid">
              <span class="text-danger align-middle">
                <i class="fa fa-warning"></i> Please enter Reference Number
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-form-label">Task Status:</label>
            <select class="form-control mr-2"
                    formControlName="taskStatus">
              <option value="0">Please Select</option>
              <option value="1">Open</option>
              <option value="2">In Progress</option>
              <option value="3">Approved</option>
              <option value="4">Rejected</option>
              <option value="5">Closed</option>
            </select>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-form-label">Assigned To:</label>
            <select class="form-control mr-2"
                    formControlName="assignedTo">
                <option value="0">Please Select</option>
                <option value="1">To Me</option>
                <option value="2">Admin 1</option>
                <option value="3">Admin 2</option>
                <option value="4">Admin 3</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="inputPassword" class="col-form-label">Description:</label>
            <textarea class="form-control nosize" rows="5"
                      placeholder = "Description"
                      formControlName="description" ></textarea>
          </div>

          <!-- <div class="form-group">
            <label for="inputPassword" class="col-form-label">Additional Comments:</label>
            <textarea class="form-control nosize" rows="5"
                      placeholder = "Additional Comments"
                      [(ngModel)] = "task.additionalComments"
                      id="additionalComments"
                      name="additionalComments"
                      #additionalComments = "ngModel"
                      required ></textarea>
            <div *ngIf="additionalComments.errors && (additionalComments.dirty || additionalComments.touched)" class="form-control-feedback">
              <span [hidden]="!additionalComments.errors.required" class="text-danger align-middle">
                <i class="fa fa-warning"></i> Please enter Additional Comments
              </span>
            </div>
          </div> -->

          <div class="form-group ">
            <label for="inputPassword" class="col-form-label">Due Date:</label>
            <div class="input-group date" style="position: relative">
                <input type = "text"
                    class="form-control"
                    placeholder = "Due Date"
                    formControlName="dueDate" />
              <span class="input-group-addon" style="position: absolute;right: 10px;top: 7px;">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
            <!-- error block -->
            <div *ngIf="taskForm.controls.dueDate.invalid">
              <span class="text-danger align-middle">
                <i class="fa fa-warning"></i> Please select Due Date
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-form-label">Attachment:</label>
            <input type="file"
                    class="form-control"
                    formControlName="attachment" />
          </div>

          <div class="mt-5">
            <button class="btn btn-success rounded-0 mr-2" type="button">Approve</button>
            <button class="btn btn-primary rounded-0 button-danger mr-2" type="button">Reject </button>
            <button class="btn btn-info rounded-0 mr-2" type="button">Reassign </button>
          </div>

          <div class="mt-5">
            <button class="btn btn-primary button-danger mr-2"
                    type="submit" > Create Task
            </button>
            <button class="btn btn-info rounded-0"
                    type="submit">Cancle
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
