.component-view{
  padding: 79px 0 0 260px;
}

.container-table-height{
  margin-bottom: 10px;
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  img{  
    width: 20%;
  }
}