<div class="position-relative">
  <ul class="leftside-nav">
    <li><a [routerLinkActive]="['active']" [routerLink] = "['/dashboard']" href="javascript:void(0)" class="dashboard-icon">Dashboard</a></li>
    <li><a [routerLinkActive]="['active']" href="javascript:void(0)" class="email-icon">Email <span class="count">05</span></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink] = "['/tasks']" href="javascript:void(0)" class="task-icon">Tasks</a></li>
    <li><a [routerLinkActive]="['active']" [routerLink] = "['/orders']" href="javascript:void(0)" class="orders-icon">Orders</a></li>
    <li><a [routerLinkActive]="['active']" href="javascript:void(0)" class="change-req-icon">Change Requetes</a></li>
    <li><a [routerLinkActive]="['active']" href="javascript:void(0)" class="npd-icon">NPD</a></li>
    <li><a [routerLinkActive]="['active']" href="javascript:void(0)" class="complaints-icon">Complaints</a></li>
  </ul>


</div>
